.font-link {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.App {
  text-align: center;
}

*{
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 900;
  overflow-x: hidden;
  position: relative;
  background-color: #202020 !important;
  color: darkgrey !important;
  font-family: 'Roboto Mono', monospace !important;



}
nav.navbar {
  padding: 20px ;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  opacity: 0.8;
}

nav.navbar a.navbar-brand {
  width: 9%;
}



nav.navbar a.navbar-brand {
  width: 25%;
  font-weight: 900;
  color: azure !important;
  letter-spacing: 2px;
  opacity: 1;
  margin-right: 20px;
  position: inherit;
}

nav.navbar .navbar-nav .navbar-link.navbar-link {
  font-weight: 300;
  color: azure !important;
  letter-spacing: 3px;
  padding: 10px;
  font-size: 18px;
  opacity: 1;
  text-decoration: none;
  position: inherit;

}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover ,
nav.navbar .navbar-nav a.nav-link.navbar-link.active a.navbar-brand  {
  opacity: 1;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 9px 20px;
  font-size: 14px;
  margin-left: 15px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}


h1, h2, h3, h4, h5, h6, p {
  margin-top: 300px;
  padding: 5px;
  line-height: normal;
  font-size: 14px;

}

.banner {
  margin-top: 0px;
  padding: 0px;
  color: white !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 5px;
  padding: 8px 100px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  font-size: 20px;
  font-palette: light;
  margin-bottom: 16px;
  display: inline-block;
}



img {
  image-rendering: auto;
  width: 150%;
  height: auto;
}

.skillsImage {
  width: 30%
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: inherit;
  font-size: calc(10px + 2vmin);
  color: white !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative ;
  text-align: left;
  color: white;
}

.top-left {
  position: absolute;
  top: 150px;
  left: 20px;
}

.centered {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}



.aboutme {
  text-align: left;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 100px;


}

.card {
  background-color: black !important;
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
}

.skills {
  text-align: center;
  padding: 10px;
  margin-top: 0px;

}

.row {
  position: relative;

}

.col {
  text-align: center;
  padding: 10px;
}
